/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span,
h1, h2, h3, h4, h5, h6, p, img, strong,
b, i, ol, ul, li, form, label,
table, caption, article, aside, figcaption, figure,
footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

body {
 text-align: center;
}

.content {
  height: 100%;
}

header {
  position: relative;
  background-color: rgb(16, 77, 161);
  color: white;
  height: 120px;
  width: 100%;
  z-index: 2;
}

h1, h2, h5 {
  margin-bottom: 0px;
  text-align: center;
}

h3, h4, li {
  margin: 5px 0;
}

.header-name {
  margin: 7px 0 0 0;
}

.button-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-form-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 2;
  background-color: rgb(16, 77, 161);
}

.login-input {
  margin: 10px;
  width: 150px;
}

.guest-login {
  width: 100%;
  height: 30px;
  color: rgb(16, 77, 161);
  background-color: gold;
}

.login-form-box {
  padding: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
}

.login-column-1 {
  vertical-align: top;
  display: inline-block;
  width: auto;
}

.login-column-2 {
  vertical-align: top;
  display: inline-block;
  width: auto;
}

.login-submit {
  display: block;
}

.header-link {
  display: inline-block;
  width: 300px;
  height: 100px;
  z-index: 2;
  text-decoration: none;
}

.header-group {
  position: absolute;
  top: 30px;
  left: 330px;
  display: inline-block;
  text-align: center;
}

.logo-pic {
  width: 300px;
  height: 100px;
}

.browse-tile {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.browse-tile:hover, .navbar-profile:hover, .navbar-browse, .navbar-messages,
.message-item-content:hover, .message-content:hover{
  cursor: pointer;
}

.profile-pic {
  display: inline-block;
  height: 300px;
  width: 200px;
}

.browse-tile-detail {
  list-style-type: none;
}

.user-basics {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 20px;
}

.user-basics-editable {
  margin: 20px;
  padding: 20px;
  display: inline-block;
  width: 300px;
  border: 2px solid black;
  text-align: center;
  vertical-align: bottom;
}

.user-tabs-item {
  margin: 5px;
}

.user-tabs-box {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.basics-input {
  vertical-align: middle;
  margin: 6px;
  padding: 3px;
}

.blue-button{
  display: inline-block;
  border:1px solid #4879c1;
  color: white;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  font-family: "Montserrat", sans-serif;
  width: 220px;
  height: auto;
  font-size: 16px;
  padding: 10px 40px;
  background: #07408d;
}
.blue-button:hover, .blue-button:active{
  color: white;
  background-color: #4c7bd9;
}

.user-about {
  margin: 10px 20px;
}

.user-about-editable {
  border: 2px solid black;
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
  display: inline-block;
}

input {
  padding: 2px;
  margin: 6px 0;
}

textarea {
  display: inline-block;
  width: 300px;
  height: 150px;
}

.small-input {
  width: 30px;
}

.filter-box{
  color: white;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(50, 96, 199);
}

.filter-gender {
  margin: 0 auto 10px auto;
  padding: 0 auto 10px auto;
}

.gender-checkbox {
  display: inline-block;
  padding: 5px 10px;
}

.filter-age {
  margin: 10px;
  padding: 0 5px 0 5px;
  height: 101px;
  width: auto;
  display: inline-block;
}

.filter-location {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.filter-box > h2 {
  vertical-align: middle;
  padding: 10px 0 0 0;
}

.browse-tile-box {
  display: block;
}

.user-details-box {
  display: inline-block;
  width: 480px;
  padding: 10px 20px;
  margin: 10px 20px;
  border: 2px solid black;
}

.select-box {
  margin: 3px;
  text-align: center;
  width: auto;
}

.react-select {
  padding: 5px 10px;
  width: 170px;
  margin: 10px;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align-last:center;
}

.checkbox-box {
  width: 460px;
}

.checkbox {
  padding: 5px 10px;
}

.slider {
  display: block;
  width: 300px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}

.slider-label{
  display: block;
  margin: 0;
  font-weight: normal;
}

.slider-small {
  display: block;
  margin: 10px auto;
  width: 200px;
  vertical-align: middle;
}

label {
  font-weight: bold;
}

.unbold {
  font-weight: normal;
}

.checkbox-label {
  font-weight: normal;
  margin: 5px;
}

.detail {
  margin: 10px;
}

.link {
  text-decoration: none;
  color: gold;
}

p {
  display: inline-block;
}

.logo{
  position: absolute;
  display: inline-block;
  padding: 10px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100px;
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0px;
  left: 520px;
  display: flex;
  vertical-align: bottom;
  height: 120px;
  width: 600px;
}

.navbar-browse, .navbar-messages, .navbar-profile {
  width: 120px;
  height: 120px;
  text-align: center;
  position: absolute;
  left: 10px;
}

.navbar-browse {
  position: absolute;
  left: 170px;
}

.navbar-messages{
  position: absolute;
  left: 310px;
}

.navbar-link {
  height: 120px;
  width: 120px;
  color: #9dbaf2;
  text-decoration: none;
  vertical-align: bottom;
}

.navbar-profile-words {
  position: absolute;
  top: 43px;
  height: 75px;
  width: 120px;
  color: #9dbaf2;
  text-decoration: none;
}

.navbar-browse h2 {
  position: absolute;
  top: 43px;
  left: 15px;
  color: #9dbaf2;
}

.navbar-profile > h2 {
  position: absolute;
  top: 43px;
  left: 524px;
  vertical-align: bottom;
  display: inline-block;
}

.navbar-profile-pic-box, .navbar-profile-pic {
  height: 120px;
  width: 120px;
}

.navbar-messages-icon {
  position: absolute;
  top: 30px;
  left: 31px;
  height: 50px;
  width: 60px;
}

.td-label {
  font-weight: bold;
}

.message-item-item {
  display: block;
  padding: 10px;
}

table, tr, td, th {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.th-user {
  width: 100px;
}

.th-time {
  width: 100px;
}

.th-content {
  width: 400px;
}

.messages-box {
  padding: 30px 30px 120px 30px;
  background-color: rgb(16, 77, 161);
  display: block;
  text-align: center;
}

.messages {
  padding: 30px;
  display: inline-block;
  width: 650px;
  background-color: rgb(243, 245, 249);
}

.messages h2 {
  padding: 0 0 20px 0;
}

.user-message {
  display: block;
  text-align: center;
  vertical-align: top;
}

.user-message table {
  width: 650px;
  display: inline-block;
  text-align: center;
}

.user-basics-box {
  padding-top: 20px;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  width: auto;
  height: auto;
}

.profile-top-left {
  display: inline-block;
  width: auto;
  height: auto;
}

.upload-form {
  text-align: center;
  padding: 20px;
}

.user-photos-box {
  padding: 20px;
}

.user-photos-item{
  padding: 20px;
  display: inline-block;
}

.user-questions-box{
  margin: 20px;
  display:inline-block;
}

.th-question, .th-response {
  font-size: 18px;
}

.edge-modifier {
  color: yellow;
}

button:hover{
  cursor: pointer;
}
